.DS_Store
.vim/*
lazy-lock.json
!.vim/lua
!.vim/init.lua
dot-config/*
!dot-config/git
!dot-config/eza
!dot-config/alacritty
!dot-config/fd
!dot-config/ghostty
!dot-config/gitui
!dot-config/helix
!dot-config/kitty
!dot-config/nvim
!dot-config/tmux
!dot-config/fontconfig
