[user]
	name = Lattapon Yodsuwan
	email = i@clozed2u.com
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	ui = true
	pager = true
[credential]
	helper = osxkeychain
[push]
	default = simple
[alias]
	in = init
	ll = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	st = status -sb
	cm = commit -m
	co = checkout
	cl = clone
	aa = add --all
	ps = push
	pu = pull
