[user]
	name = Lattapon Yodsuwan
	email = i@clozed2u.com
[core]
	autocrlf = input
	safecrlf = true
	editor = vim
	excludesfile = ~/.gitignore
[apply]
	whitespace = nowarn
[color]
	branch = auto
	diff = auto
	status = auto
	interactive = auto
	ui = true
	pager = true
[credential]
	helper = osxkeychain
[push]
	default = simple 
[default]
	push = current
[alias]
	st = status
	co = checkout
	rb = rebase
	br = branch
	fe = fetch
	pl = pull
	cm = commit
	df = diff
	cl = clone
	ad = add
